body {
    background: whitesmoke;
}

* {
    display: border-box;
}

#zoo {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cardz {
    width: 30%;
    padding: 20px;
    border: solid 2px gray;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: -2px 5px 5px gray;
}

.cardz img {
    max-width: 300px;
    max-height: 300px;
}

.carnivore {
    background-color: red;
}

.vegetable {
    background-color: green;
}